<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itver.jesus.app_gestion_final">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.itver.jesus.app_gestion_final.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.itver.jesus.app_gestion_final.permission.C2D_MESSAGE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.NotiTec">
        <activity
            android:name=".ui.vistas.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.ajustes.Ajustes_Activity"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.Settings" />
        <activity
            android:name=".ui.vistas.Login_Activity"
            android:label="@string/app_name"
            android:theme="@style/Theme.NotiTec" />
        <activity
            android:name=".ui.DispatchActivity"
            android:label="@string/app_name"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.vistas.Noticia_FullActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.vistas.Noticia_FullActivity" />
        </activity>
        <activity android:name=".ui.vistas.List_Fechas_Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.vistas.List_Fechas_Activity" />
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".parse.Notificaciones_Push"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.itver.jesus.app_gestion_final" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.vistas.InvitadoActivity"
            android:theme="@style/Theme.AppCompat.Dialog"/>
    </application>

</manifest>
